html, body{
    height:100%;
    width: 100%;
    background-color: black;
    color: white;
    font-family: "Helvetica Neue";
}

.app {
    height:100%;
    width: 100%;
}

.twitter-container {
    max-width: 800px;
    margin: 0 auto;
    height: 100%;
}

.content-container {
    margin-left: 15%;
}

.vertical-navbar{
    height:100%;
    position: fixed;
    min-width: 80px;
    max-width: 120px;
    width: 15%;
    padding: 10px 0 10px 10px;
}

.column-right {
    width: 85%;
}

.row:after {
    content: "";
    clear: both;
}
